* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.body {
   width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/header.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    min-height: 110px;
    margin-bottom: 3%;
    background-color: #2C3E50; 
}

.header h1 {
    font-size: 40px;
    font-weight: 400;
    color: white;  
}

.main {
    margin: 0 auto;
    max-width: 1470px;
}

.main-section {
    margin: 0 auto;
    width: 80%;
}

.search-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-panel {
    width: calc(100% - 90px);
    max-width: 1350px;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-size: 34px;
    background-position: 10px 5px;
    border-radius: 5px;
    border: 1px solid rgb(206, 212, 218);
    color: rgb(123, 138, 139);
    cursor: text;
    display: block;
    font-size: 22px;
    font-weight: 400;
    height: 45px;
    padding: 8px 15px;
    padding-left: 65px;
    padding-right: 150px;
}

.search-wrapper {
    display: flex;
    position: absolute;
    right: 130px;
}

.clear-search {
    width: 48px;
    height: 28px;
    background-image: url(../images/clear.svg);
    background-size: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .8;
    transition: .2s;
}

.keyboard {
    width: 48px;
    height: 28px;
    background-image: url(../images/keyboard.png);
    cursor: pointer;
    opacity: .8;
    transition: .2s;
}

.search-button {
    background-color: rgb(214, 44, 26);
    border: 1px solid rgb(202, 42, 25);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    height: 45px;
    padding: 8px 15px;
    width: 90px;
}

.dropdown:hover:after {
    content: attr(data-name);
    position: absolute;
    padding: 7px 12px;
    width: 80px;
    top: 50px;
    left: -28px;
    background: black;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 16px;
}

.dropdown:hover:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 10px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: black;
}

.dropdown-right:hover:after {
    content: attr(data-name);
    position: absolute;
    padding: 7px 12px;
    width: 80px;
    top: 50px;
    left: 20px;
    background: black;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 16px;
}

.dropdown-right:hover:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 60px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: black;
}

.error-container {
    height: 40px;
    margin: 0;
    padding: 0 10px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: rgb(214, 44, 26)
}

.slider-button {
    position: absolute;
    width: 70px;
    height: 445px;
    border-radius: 5px;
    bottom: 155px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: .3s;
}

.main-container {
    position: relative;
}

.movie-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    list-style: none;
}

.movie-block {
    justify-content: space-between;
}

.movie-container div li {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-right: 90px;
}

.movie-container li span {
    display: block;
    height: 43px;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 24px;
    padding: 15px;
    white-space: pre-wrap;
    text-overflow: clip;
}

.movie-container li span {
    margin-top: 3%;
    font-weight: bold;
}

.movie-container-image {
    height: 445px;
    max-width: 300px;
}



.left-arrow {
    background-image: url(../images/prev.svg);
    left: -70px;
    top: 57px;
}

.right-arrow {
    background-image: url(../images/next.svg);
    right: -60px;
    top: 57px;
}


.movie-rate {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-rate img {
    height: 24px;
}

.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0;
}

.slider-bullet {
    cursor: pointer;
    margin: 0 4px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
}

.slider-bullet_active {
    background-color: #d62c1a;
    opacity: 1;
}

.footer {
    display: flex;
    justify-content: center;
    min-height: 60px;
}

.footer-container {
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #33333F;
}

.footer-container li {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.footer-github {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-github a {
    text-decoration: none;
    color: white;
    margin-left: 3%;
}


.footer-github img {
    width: 32px;
    height: 32px;
}

.busy-section {
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(128,128,128, 0.5);
}

.loader {
    border: 10px solid #f3f3f3; 
    border-top: 10px solid #262C36;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }